html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --second-text-color: #757575;
    --logo-color: #2196F3;
    --logo-footer-color: #ffffff;
    --body-background-color: #ffffff;
    --hero-background-color: #2F303A;
    --hero-button-color: #ffffff;
    --hero-back-color: #2196F3;
    --hero-accent-color: #188CE8;
    --h1-color: #ffffff;
    --footer-back-color: #2F303A;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --portfolio-button-color: #F5F4FA;
    --focus-back-color: rgba(0, 0, 0, 0);
    --border-color-head: #ECECEC;
    --border-color: #EEEEEE;
    --social-icon-color: #AFB1B8;
    --cubic-beziez: cubic-bezier(0.4, 0, 0.2, 1)

}
body{
    background-color: var(--body-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

/* Контейнер */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    /* outline: 2px solid rgb(255, 0, 208); */
}
/* section padding */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
 /* title h2 */
 .title-h2{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
 }
 /* image */
 .image{
     display: block;
     width: 100%;
 }
.header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color-head);
}
/* Main nav */
.main-nav {
    height: 80px;
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo:focus{
    background-color: var(--focus-back-color);
}
.web-logo {
    color: var(--logo-color)}

/* Навігація */
.site-nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.site-nav a{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    padding: 32px 0;
}
.site-nav a:hover {
    color: var(--accent-color);
    transition: color 250ms var(--cubic-beziez);
}
.site-nav a:focus{
   color: var(--accent-color);
    transition: color 250ms var(--cubic-beziez);
}
.site-nav .item{
    /* width: calc((100% - 60px)/3); */
    width: calc((100% - 100px)/3);
    margin-right: 50px;
}
.site-nav .current-link {
    position: relative;
    color: var(--accent-color);
}
.site-nav .current-link::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    height: 4px;
    background-color: var(--accent-color)
}

/* Контакти */
.contact {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.contact .item{
    width: calc((100% - 50px)/2);
    margin-left: 50px;
}
.contact a {
    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-link {
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic-beziez);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.icon-envelope,.icon-smartphone {
    margin-right: 10px;
}
.icon-contact{
    fill: currentColor;
}

/* Герой */

/* overlay */
.overlay {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-color: var(--hero-background-color);
}
.hero-button{
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--hero-button-color);
    background-color:var(--hero-back-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms var(--cubic-beziez);

}
.hero-button:hover{
    background-color: var(--hero-accent-color);
}
.hero h1{
    min-width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;

    color: var(--h1-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;

    transition: opacity 250ms var(--cubic-beziez);
   
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9) ;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--body-background-color);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1) ;
    transition: transform 250ms var(--cubic-beziez);
}
.button-close{
    position: absolute;
    top: 1%;
    right: 1%;
    background-image: url(../images/close-black.svg);
    background-repeat: no-repeat;
    background-position: center;

    border: 1px solid var(--border-color);
    background-color: var(--body-background-color);
    width: 30px;
    height: 30px;

    border-radius: 50%;
}
.button-close:hover{
    cursor: pointer ;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2)
}
.form-tittle{
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
textarea{
    resize: none;

    border: 1px solid var(--border-color);
    border-radius: 4px;
}
.form-field textarea::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.form-comment textarea {
    padding-left: 16px;
    padding-top: 12px;
    outline: none;

    transition: border 250ms var(--cubic-beziez);
}
.form-comment textarea:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
}
form{
    width: 528px;
    padding: 40px;
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    
    color: var(--second-text-color);
}
.form-field label{
    margin-bottom: 4px;
}
.form-field .form-input{
    height: 40px;
    padding-left: 42px;

    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
}
.form-svg{
    fill: currentColor;
}
.icon-field {
    color: var(--primary-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    transition: color 250ms var(--cubic-beziez);
}
.form-input:focus ~ .icon-field{
    color: var(--accent-color)
}
.form-input:focus{
    border: 1px solid var(--accent-color);
    cursor: pointer;
}
.form-input{
    transition: border 250ms var(--cubic-beziez);
}



.lable-policy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);

    margin-bottom: 30px;
    margin-top: 20px;
}

.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.checkbox-icon{
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid  var(--primary-text-color);
    border-radius: 2px;
    margin-right: 8px;
}

.checkbox:checked + .checkbox-icon{
    background-color: var(--accent-color);
    border: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box ;
}
.checkbox:focus+.checkbox-icon {
    border: 2px solid var(--accent-color);
}
.policy-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}
.policy-link:hover, .policy-link:focus{
    text-decoration: none;
}

/* Особливості */
.specific-selection{
    padding-top: 94px;
}
.specifics{
    display: none;
}
 .specifics-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    list-style-type: none;
}
.specifics-list .item{
    width: calc((100% - 90px)/4);
    margin-right: 30px;
}
.specifics-list  .item:nth-child(4n) {
    margin-right: 0;
}

.specifics-list h3{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.specifics-list p {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.icon-specific {
    height: 120px;
    margin-bottom: 30px;
    background-color:var(--portfolio-button-color);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .specifics-list .item::before{
    display: block;
    content:'';

    height: 120px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-color: #F5F4FA;
}
.icon-antenna::before{
    background-image: url(../images/antenna\ 1.svg);
}
.icon-clock::before{
    background-image: url(../images/clock\ 1.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram\ 1.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut\ 1.svg);
} */


/* Чим ми займаємось */

.what-we-do {
    margin-top: 0;
    margin-bottom: 50px;
}
.what-we-do-list{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;

    display: flex;
    list-style-type: none;
    justify-content: center;
}
/* .what-we-do-list .item:not(:last-child){
    margin-right: 30px;
} */
.what-we-do-list .item{
    width: calc((100% - 60px)/3);
    margin-right: 30px;
}
.what-we-do-list .item:nth-child(3n) {
    margin-right: 0;
}
.work-image{
    position: relative;
}
.work-text{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--body-background-color);
}

/* Наша команда */
.our-team{
    background-color: #F5F4FA;
}
.our-team-text  {
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-team-list h3{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-list p{
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    list-style-type: none;
     justify-content: center;
}
/* .our-team-list .item + .item {
    margin-left: 30px;
} */
.our-team-list .item {
    width: calc((100% - 90px)/4);
    margin-right: 30px;

    background-color: var(--body-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);   
}
.our-team-list .item:nth-child(4n) {
    margin-right: 0;
}
.social-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
    padding-left: 0;
}
.social-icon-link{
    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--social-icon-color);

    transition: background-color 250ms var(--cubic-beziez),
    color 250ms var(--cubic-beziez);
}
.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--body-background-color);
}

.social-icon-team{
    fill: currentColor;
}


.social-svg{
    fill: currentColor;
} 
.social-icon {
    display: flex;
}
.social-icon:not(:last-child){
    padding-right: 10px;
}


 /* Постійні клієнти */
 .client-list{
     display: flex;
     align-items: center;
     justify-content: space-between;
     list-style-type: none;
     padding-right: 0;
     padding-left: 0;
 }
  
 .client-logo{
     width: calc((100% - 150px)/6);
 }
 .client-logo:not(:last-child){
     margin-right: 30px;
 }
 
 .link-client-logo{
    height: 92px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--social-icon-color);
    border: 1px solid var(--social-icon-color);
    border-radius: 4px;

    transition: color 250ms var(--cubic-beziez),
     border 250ms var(--cubic-beziez);
 }
 .link-client-logo:hover,
 .link-client-logo:focus{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
 }
 .client-icon{
     fill: currentColor;
 }

/* Футер */
.footer {
    padding-top: 60px;
    padding-bottom: 0;
    height: 252px;
    background-color:var(--footer-back-color);
}

.logo-footer{
color:var(--logo-footer-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-footer:focus{
    background-color:var(--focus-back-color);
}
.contact-footer {
    margin-left: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
/* .contact-footer .item:not(:last-child){
    margin-bottom: 9px;
} */
.contact-footer .item {
    width: 100%;
    margin-bottom: 9px;
}
.contact-footer-link {
    color: var(--contact-footer-color);
    text-decoration: none;

    transition: color 250ms var(--cubic-beziez) ;
}
.contact-footer-link:hover, .contact-footer-link:focus {
    color: var(--accent-color);
}

.contact-footer{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.address{
    margin-top: 20px;
}
.street p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--logo-footer-color);
}
.footer-container{
    display: flex;
    
}
.logo-address-footer{
    margin-right: 70px;
    display: flex;
    flex-direction: column;
}

.title-social-h2{
    color: var(--body-background-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.social-svg-footer{
    fill: var(--body-background-color);
}
.icon-back {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.subscribe {
    margin-left: 93px;
}

.form-subscribe {
    display: flex;
    padding: 0;
}

.form-subscribe input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;

    background-color: var(--footer-back-color);
    color: var(--body-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: border 250ms var(--cubic-beziez);
}
.form-subscribe input:focus{
    border: 1px solid var(--accent-color);
    outline: none;
    cursor: pointer;
}
.form-subscribe input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.icon-send{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Портфоліо */
.portfolio {
    display: none;
}
.portfolio-selection{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 34px;
}
/* button-list */
.button-list button {
    padding: 6px 22px;

    background-color:var(--portfolio-button-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: none;

    transition: background-color 250ms var(--cubic-beziez),
    color 250ms var(--cubic-beziez), 
    box-shadow 250ms var(--cubic-beziez);
}
.button-list {
    margin-top: 0;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    list-style-type: none;
}
.button-list button:hover{
    color: var(--hero-button-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.button-list button:focus{
    cursor: pointer;
    color: var(--hero-button-color);
    background-color: var(--accent-color);
}
.button-list .item:not(:last-child){
   margin-right: 8px;
}
/* .button-list .item {
    width: calc((100% - 32px)/5);
    margin-right: 8px; */



/* Проект */

.project-list h2{
    margin-bottom: 4px;
    margin-top: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-list p {
    color: var(--second-text-color);
    text-decoration: none;
    
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

.project-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.project-list .item {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    padding-right: 0;
}

.project-list .item:nth-child(3n) {
    margin-right: 0;
}
.project-list .item:nth-last-child( -n + 3){
    margin-bottom: 0;
}
.project-link{

    display: block;
}
.project-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms var(--cubic-beziez);
}


.project-list .project-link{
    text-decoration: none;
    list-style-type: none;
}
.border-content{
    width: 370px;
    padding: 20px 24px;
    
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-color);

    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color:var(--border-color) ;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-color);
    /* border: 1px solid;
    border-color: var(--border-color); */
}
.project-image{
    position: relative;
    overflow: hidden;
}
.project-image::before{
    display: inline-block;
    content: "";
    position: absolute;
    background-color: #2196F3;
    width: 100%;
    height: 100%;

    opacity: 0.9;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic-beziez);

}
.element-project{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 24px;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic-beziez);
}
.element-project p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    color: var(--body-background-color);
}
.project-link:hover .project-image::before {
    transform: translateY(0);
}
.project-link:focus .project-image::before {
    transform: translateY(0);
}
.project-link:hover .element-project{
    transform: translateY(0);
}
.project-link:focus .element-project {
    transform: translateY(0);
}