.client{
    @extend %section;

    &__list{
        @include flexCenter ($main-axis:space-between);
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__logo{
        width: calc((100% - 150px)/6);
    }

    &__link{
        height: 92px;
        @include flexCenter ();
        
        color: $social-icon-color;
        border: 1px solid $social-icon-color;
        border-radius: 4px;
        
        transition: color 250ms $cubic-beziez,
        border 250ms $cubic-beziez;
    }
    &__link:hover, &__link:focus{
        color: $accent-color;
        border: 1px solid $accent-color;
    }

    &__icon{
        fill: currentColor;
    }
}