
.header__container{
    height: 80px;
    @include flexCenter (flex, $cross-axis:center)
    // display: flex;
    // align-items: center;
}
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-color-head;
}