
.header__container{
    height: 80px;
    display: flex;
    align-items: center;
}
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-color-head;
}
