%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%social-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
    display: flex;
    list-style-type: none;
    justify-content: center;
}
